@-moz-document domain("quizlet.com") {
/*  It's recomended to turn it on once you logged in */ 

/* Personal Use License

Copyright (c) 2018 Trigstur
Quizlet Dark Skin

The content is licensed for personal use only, not commercial use. The
content may not be used in any way whatsoever in which you charge money,
collect fees, or receive any form of remuneration. The content may not be
resold, relicensed, sub-licensed, rented, leased, or used in advertising.
ITS NOT ALLOWED TO REUPLOAD,REUSE,RERELEASE OR USEMENT OF ANY CONTENT.

There are no warranties, express or implied. The content is provided 'as
is.'

Neither the content owner, payment processing service, nor hosting service
will be liable for any third party claims or incidental, consequential, or
other damages arising out of this license or the users use of the content.
¬
The content owner grants the installer a non-exclusive, css code and the license within the code with the following restrictions:

Contributing entitles you to no rights to the code whatsoever, 
Title and ownership, and all rights now and in the future, of and for the
content remain exclusively with the content owner. */

/* Contact Info 
This skin is completely made by Trigstur 
You can Contact me on discord if you have any issues or questions : Trigstur#5919 */





/* Code Starts Here */
   .UIKeyboardHint-text, .FlippableFlashcard-front, .FlippableFlashcard-back, .AssistantRevealSelfAssessmentQuestionView-actionArea, .UIKeyboardHint {
    background: #232729;
}
.UIButtonWithKeyboardHint .UIButton {
    border: 0.125rem solid #ffffff;
}
.AssistantScrollableViewLayout-topBlur, .AssistantScrollableViewLayout-bottomBlur {
    background: linear-gradient(#232729,rgb(35, 39, 41));
}
html.cursor .CardsList-bottomControls .UIButton.UIButton--borderless:hover {
    background-color: #595c5d;
    color: #455358;
}
.CardsList-navControl.previousButton .UIButton--white[disabled], .CardsList-navControl.nextButton .UIButton--white[disabled], .CardsList-navControl.previousButton .UIButton--white[disabled]:hover, .CardsList-navControl.nextButton .UIButton--white[disabled]:hover {
    background-color: #1d1c1c !important;
    box-shadow: none;
}
.CardsList-bottomControls .UIButton.UIButton--borderless {
    background-color: #1d1c1c;
}
.UIButton--white {
    background: #1d1c1c !important;
    box-shadow: 0 0 0.25rem #f0f0f0;
}
    .UILinkButton:active, .UILinkButton:focus, .UILinkButton:hover {
    border-bottom: solid white 7px;
    color: #ffffff;
}
.UIRadio-input:checked ~ .UIRadio-fauxInput {
    border-color: #ffffff;
}
.cainer, .ImportTerms-import, .ImportTerms-preview {
    background: #1a1c1c00;
}
    .UpgradePage-splash--plus .UpgradePage-testimonial {
    top: 40px;
}
.cart {
    background: #1a1c1c;
}
.form-wrap {
    background: #1a1c1c;
}
.CheckoutForm-heading {
    background: #1a1c1c;
}

.CheckoutRecurringLineItem-icon {
    background: #121313;
    background: -webkit-linear-gradient(top,#121313,#121313);
    background: -moz-linear-gradient(top,#5065be,#4257b2);
    background: -ms-linear-gradient(top,#5065be,#4257b2);
    background: linear-gradient(to bottom,#121313,#121313);
}
.UpgradePage-splash--plus .UpgradePage-testimonial:before {
    display: table-row;
      content: "Important : Quizlet DarkSkin has several features a plus account gets you. But 'Night Mode' ofcourse and the 'Focussed studying' mode wich disables all adds on the site We already added for you!, We love Quizlet so if you want to support them please do! But consider that you might not need it, Thanks for using our  style.  -The Quizlet Darkskin Team"; 
      color: white;
}
.SiteNav-menuItem--active .SiteNav-menuItemTitle, .SiteNav-menuItem:hover .SiteNav-menuItemTitle, .SiteNav-menuItem:active .SiteNav-menuItemTitle {
    color: #ffffff !important;
}
.UpgradePage-splash--plus .UpgradePage-testimonial {
    color: transparent;
}
.UpgradePage .Feature-icon {
    font-size: 40px;
    color: #fff19c;
    fill: #fff19c;
}
.UpgradePage .Feature-heading {
    color: #fdffe4;
}
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    background: #1a1c1c00;
}
.FeatureRow {
    background: #1a1c1c;
}
.badge.plus {
    background-color: #fff19c;
    background: -webkit-linear-gradient(top,#fff19c,#fff19c);
    background: -moz-linear-gradient(top,#5a6ec2,#4257b2);
    background: -ms-linear-gradient(top,#5a6ec2,#4257b2);
    background: linear-gradient(to bottom,#fff19c,#fff19c);
    color: black;
    font-family: sans-serif;
}
    .SiteAd-adContainer {
    display: none !important;
      cursor: not-allowed;
}
.SiteAd-removeLink {
    border: solid #b3ff9b 1px;
    margin: 0px 28px 13px 40px;
      cursor: not-allowed;
}
.SiteAd-label, .SiteAd-removeLink .UILink:Before {
    color: #b3ff9bab;
      text-align: center;
      content: "Advertisement successfully Removed by Quizlet DarkSkin";
    display: table-row;
      cursor: not-allowed;
}
.SiteAd-removeLink {
    border: solid #b3ff9bab 2px;
    margin: 0px 18px 13px 85px;
    padding: 5px 5px 2px 2px;
      cursor: not-allowed;
}
.SiteAd-label, .SiteAd-removeLink .UILink {
    color: transparent;
            text-align: center;
      cursor: not-allowed;
}
.SiteAd-label, .SiteAd-removeLink .UILink {
    color: transparent !important;
      cursor: not-allowed;
}
   .UIButton:active, html.cursor .UIButton:hover, html.cursor .UIButton:hover:visited {
    border-bottom: solid;
    background-color: #444b4e !important;
    color: #272b2d;
}
.UIPopover, .SpecialCharacterTextarea-accentsBarInner {
    background: #272b2d !important;
    }
.UIButton, .UIButton:visited {
    background-color: #444b4e;
    color: #fff;
}
.UIButton--inverted, .UIButton--inverted:visited {
    box-shadow: inset 0 0 0 3px #ffffff;
}
.UIButton-wrapper {    
     color: #DADEE0;
}
.UIButton--whiteBorder {
    background: #1F2121 !important;
}
.UIButton--whiteBorder:hover {
    background: #363d40 !important;
}
.ModeControls, .ModeControls-actions {
    background: #363d40 !important;
}
.AssistantCheckpointView-bucketBlur, .AssistantScrollableTermViewLayout-bottomBlur {
    background: linear-gradient(#232729,rgba(35, 39, 41, 0));
}
.AssistantFixedActionLayout {
    background: #232323;
}
.TermText, .FormattedText {
    color: #0c0c0c;
}
.AssistantCheckpointView-buckets {
    background: #232323;
}
.AssistantMultipleChoiceQuestionPromptView-termOption:hover {
    border-color: #f9f7f7;
}
.AssistantMultipleChoiceQuestionPromptView-termOption {
    border: 0.125rem solid #485054;
}
.UIKeyboardHint.is-white {
    background-color: #232323;
}
.ProgressSegmentedSemicircle-percent, .ProgressSemicircle-labelName, .ProgressSemicircle-percent, .AssistantControls .ModeControls-modeName, .ModeControls-backText, .ProgressSegmentedSemicircle-labelName {
      color: white;
      fill: white;
}
.UITextarea-textarea {
    color: #fafeff;
}
.TermText, .FormattedText {
    color: white !important;
}
.TermText, .FormattedText {
color: black
}
.AssistantViewController {
    background: #232323;
}
 .MatchModeControls-currentTime, .UIHeading--six,.ModeControls-modeName {
    color: white;
}

.SetPage.has-adz .SetPage-termsWrapper {
    background: #272b2d;
}
.settings-list .app .data, .apps-list .app .data {
    color: #e2e2e2;
}
.settings-list .app .label, .apps-list .app .label {
    color: #fff;
}
.UIDropdown:hover .UIDropdown-select:not(:disabled) {
    color: #c5c2b5;
}
.checkboxes label strong {
    color: white;
}
.UIDropdown:hover:not([aria-disabled="true"]) .UIDropdown-icon {
    color: #bed3da;
}
.SiteNav-menuItem:not(.SiteNav-menuItem--active) .UILink:not(:hover) .SiteNav-menuItemIcon {
    color: #ffffff;
    fill: #ffffff;
}
.UIDropdown-select {
        color: #ffffff;
}
.UIDropdown {
    background: #25292b;
    border: 0.125rem solid #dadee0;
    color: #ffffff;
}
.ModeLayout {
    background-color: #232729;
}
.ModeLayout {
    background-color: #232729;
    transition: max-height 0.2s ease-in;
}
.SiteHeader {
    background: #1a1c1c;
}
.SetPageModeButton {
    background: #363d40;
    border-bottom: 0.3125rem solid #ffffff;
    color: #ffffff;
}
.UIModeIcon-modeIcon {
    color: #ffffff;
    fill: #ffffff;
    height: 100%;
    width: 100%;
}
.SetPage-header {
    background: #272b2d;
}
.UIHeading + [class^=UI], [class^=UI] + .UIHeading, .UIHeading + .UIHeading {
    color: white !important;
}
.SetPage.has-adz .SetPage-options {
    background: #272b2d;
}
.SetPageTerm-wordText {
    color: #ffffff;
    word-wrap: break-word;
}
.SetPageHeader {
    background: #272b2d;
}
.UITooltip {
    background: #232323;
    color: #fff;
}
.main h1 {
    border: 0 none;
    color: #fff
}
.HelpCenterFooterInfo {
    color: #fff;
}
.HelpCenterFeedbackPrompt {
    background: #161819;
    padding: 1.5rem 2rem;
    text-align: center;
}
.UIHeading {
    margin-bottom: 0;
    margin-left: 0;
    color: white;
}
.top-nav .pages li.is-active a {
    border-bottom: 0.3125rem solid #191a1b;
}
.top-nav .pages li a {
-webkit-transition-property: width; 
-webkit-transition-duration: 5s
}
.top-nav .pages li a:hover {
    background: #ffffff;
    border-color: #191a1b;
}
.UITooltip:after {
    background: #232323;
}
section.main {
    background: #212425;
    border-radius: 3px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1), 1px 1px 4px rgba(0,0,0,0.12);
}
.HelpCenter-articleListItem a {
    color: #fff;
}
.HelpCenterHeader {
    background: rgb(25, 26, 27);
    border-bottom: 1px solid #eee;
}
.MenuIconWithTooltip.is-opened .UIButton:not(.UIButton--borderless) {
    background-color: #232323;
    color: #ffffff !important;
}
.SetPageModeButton:hover .SetPageModeButton-modeName {
    color: #ffffff;
}
.SetPageModeButton:hover {
    border-bottom-color: #fbfbfa;
    border-bottom: solid 10px;
}
.has-adz .SetPage-headerWrapper {
    background: #272b2d;
}
.SiteHeaderChiclet, .SiteHeaderChiclet:visited {
    background-color: #232323;
}
.SetPage-modesBottomBackground {
    background: #444b4e;
}
.SetPage-menu {
    background: #272b2d;
}
.SiteHeaderChiclet:active, html.cursor .SiteHeaderChiclet:hover, html.cursor .SiteHeaderChiclet:hover:visited {
    background-color: #232323;
    color: #ffffff;
    border-bottom: solid;
}
.SiteHeader-searchInner {
    border-right: 2px solid #ffffff;
}
.DashboardLayout-sidebar {
    background: #363d40;
}
.SiteNav-menuItemTitle {
    color: #ffffff;
}
.SiteNav-createButtonWrapper .SiteNav-menuItemTitle {
    color: #aabbad;
}
.DashboardHeader {
    background: #1f2121;
}
.UIHeading--two {
    color: white;
}
.UIMenuItem .UILink:hover .UIMenuItem-inner {
    background: #363d40 !important;
    color: wheat;
    border-left: solid;
}
.Homepage {
    background: #1f1c1c;
}
.SiteNav-menuItemIcon {
    color: #ffffff;
    fill: #ffffff;
}
.UILinkBox-link .UILink:active, .UILinkBox-link .UILink:focus, .UILinkBox-link .UILink:hover {
    border-bottom-color: #ffffff;
}
.SiteFooter {
    background: #363d40;
}
.button:hover {
    background-color: #5468c0;
    border-color: #dcffff;
    text-decoration: none !important;
}
.button:hover, .button:active {
    background-color: #383632;
}
.profile-photo-upload .the-label {
    background: #363d40;
}
.button {
    background: #1f2121;
    border: 1px solid #1f2121;
    background-color: #1f2121;
    border-color: #b3a270;
}
.UIDropdown--inverted {
    background: #4d5252;
    border: none;
}
.UIButton, .UIButton:visited {
    background-color: #1f2121;
    color: #fff;
}
.site, .page {
    background: #25292b;
}
.setting h2 {
    color: #fff;
}
.setting p, a {
    color: #aabbad;
}
.setting .title h1 {
    color: #f7f7f7;
}
.setting .box {
    background: #363d40;
}
.setting .title .UIIcon {
    color: #ffffff;
}
.UIButton:active, html.cursor .UIButton:hover, html.cursor .UIButton:hover:visited {
    border-bottom: solid;
    background-color: #1f2121;
    color: #ffffff;
}
.DashboardFeedGroup-title {    
    color: white;
}
.SiteNav-menuItem--active .UIMenuItem-inner {
    background: #363d40;
    border-left: solid;
    color: white;
    border-right: solid;
}
.UILinkBox-inner {
    padding: 0.75rem 1.25rem;
    color: white;
}
.UILink, .UILink:visited {
    color: #d4e0e0;
}
.Homepage-createStudySet {
    border: 0.3125rem dashed #363d40;
}
.UIToggle-optionInput:checked:not(:disabled) ~ .UIToggle-optionLabel {
    background-color: #232323;
    color: #a9b8bd;
}
.UIToggle-optionLabel:after, .UIToggle-optionLabel:before {
    background-color: #c5ceca;
}
.UILink:active, html.cursor .UILink:hover, html.cursor .UILink:hover:visited {
    color: #ffffff;
}
.UIToggle-optionInput:hover:not(:disabled) ~ .UIToggle-optionLabel {
    color: #f9fdff;
}

.UIToggle-optionLabel {
    background-color: #363d40;
    color: #a3b4a7;
}
.StudyableLinkBox-studiedActivity {
    background: #1f2223;
    border-top: 0.125rem solid #f0f0f0;
    padding: 1rem 1.25rem 0.5rem;
}
.SiteNav-createButtonWrapper:focus .SiteNav-menuItemTitle, .SiteNav-createButtonWrapper:hover .SiteNav-menuItemTitle {
    color: #ffffff;
    border-bottom: solid 1px;
}
.setting label strong, .setting label.field strong {
    color: white;
}
.StudyableLinkBox-child {
    margin-top: 0.125rem !important;
    background: #363d40;
}
.SetPageTerm, .SetPageTerm-definitionText {
color: white
}
.UISwitch-input:hover:not(:disabled) ~ .UISwitch-label {
    color: #131111;
    background-color: white;
}
.UISwitch-label {
    background-color: #1f2121;
    color: #dadee0;
}
.DashboardLayout {
    background: #232627;
}
.SetPageTerm {
    background: #444b4e;
}
.UILinkBox {
    background-color: #363d40;
    position: relative;
    transition: all 120ms cubic-bezier(0.47,0,0.745,0.715);
}
.UILinkBox-link .UILink:active, .UILinkBox-link .UILink:focus, .UILinkBox-link .UILink:hover {
    border-bottom-color: #ffffff;
}
.SetPageTermChunk-subtitle {
    color: #ffffff;
}
.UIInput-input {
    color: white;
}
.UIModalBody {
    padding: 2rem 2rem 2rem 2rem;
    background: #1b1d1d;
}
.UIModalHeader {
    background-color: #202222;
    color: #fff;
}
.UILinkButton {
    border-bottom: 0.3125rem solid #363d40;
}
.UIIcon + .DashboardHeaderTitle-title, .CreateSetHeader-title {
    color: white;
}
.StudiedActivityStrip-status {
    color: #000000;
}
.ClassPageHeader-info {
    color: #cecece;
}
.DashboardHeaderTitle-subtitle {
    margin-top: 1rem;
    white-space: pre-wrap;
    color: #ffffffe3;
}
.CreateSetHeader-permissionsLink {
    color: #ffffff;
}
.SetPage.has-adz .SetPage-termsWrapper {
    background: #272b2d !important;
}
.TermContent-addRow:hover .UILinkButton {
    border-bottom: solid 10px;
    color: #ffffff;
}
.SpecialCharacterTextarea.is-focused .UITextarea-border {
    box-shadow: 0 0.25rem 0 0 #ffffff;
}
.UITextarea-textarea:focus ~ .UITextarea-border, .UITextarea-textarea.UITextarea-autoExpandTextarea.is-focused ~ .UITextarea-border {
    box-shadow: 0 0.25rem 0 0 #ffffff;
}
.UIButton--white:active, html.cursor .UIButton--white:hover, html.cursor .UIButton--white:hover:visited {
    background-color: #a5a29b !important;
}
.CreateSetPage-container {
    background: #1a1c1d;
}
.TermContent-inner {
    background-color: #272b2d;
    cursor: move;
    padding: 0.75rem 0.75rem 1.5rem 4.625rem;
    position: relative;
}
.CreateSetHeader, .UIFloatedCardBackdrop-bottom, .UIFloatedCardBackdrop {
    background: #1a1c1d;
}
.CreateSetDiagramUploader-banner:active .UILink, html.cursor .CreateSetDiagramUploader-banner:hover .UILink, html.cursor .CreateSetDiagramUploader-banner:hover:visited .UILink {
    color: #a6c3c0;
}
.UIFileChooser-contents {
    background: #272b2d;
}
.CreateSetHeader-sticky {
    background: #151617;
}
.DiagramShowcasePage-createPreview:hover {
    border-color: #ffffff;
    background: #171616;
}
.DiagramShowcasePage-createPreview {
    border-color: #ffffff;
    background: #171616;
}
.DiagramShowcasePage-createPreviewContent {
    align-items: center;
    color: #e6e6e6;
}
.DiagramShowcasePage-createPreview:hover .DiagramShowcasePage-createPreviewContent {
    color: #ffffff;
    border-bottom: solid 10px #171616;
}
.CardsItemSide .CardsItemInner, .firefox .CardsList.CardsList--showSingle .CardsItem .CardsItemSide .CardsItemInner {
    background-color: #1f2121;
}
.UISwitch-input:checked:not(:disabled) ~ .UISwitch-label {
    background-color: #1f2121;
    border-color: #ffffff;
    color: #ffffff;
}
.UIProgressBar-fill {
    background-color: #ffffff;
}
.UIProgressBar {
    background-color: rgba(255, 255, 255, 0.3);
}
.UIProgressBar {
    background-color: rgba(255, 255, 255, 0.3);
}
.UIParagraph, .GravityDirectionsView-title, .SiteNav-blogDescription {
    color: white;
}
.GravityTerm-content, .GravityLevelUpBadge.GravityLevelUpBadge {
    color: #000 !important;
}
html, body {
    color: #ffffff;
}
.MatchModeQuestionGridTile {
    background-color: #232323
}
.SetPageTerm-sideContent {
    border-right: 0.125rem solid #272b2d !important;
}
.MatchModeQuestionScatterTile {
    background-color: #232323;
}
.UISpecialCharacterButton:hover:not([disabled]), .GravityDirectionsView-title, .UIParagraph {
    background-color: #1f2121;
    border-color: #ffffff;
}
.UISpecialCharacterButton {
    background-color: #1f2121;
}
.UIToggle-optionLabel svg {
    fill: #ffffff;
    stroke: #ffffff;
}
.UIToggle-optionInput:hover:not(:disabled) ~ .UIToggle-optionLabel svg {
    fill: #819e9d;
    stroke: #819e9d;
}
.UpsellModalMessage {
    background: #1b1d1d;
}
.UIModal-closeButtonWrapper {
    background: #1b1d1d;
}

    .ie11 .CardsList.CardsList--showSingle .CardsItem .CardsItemSide .CardsItemInner, .webkit .CardsList.CardsList--showSingle .CardsItem .CardsItemSide .CardsItemInner, .firefox .CardsList.CardsList--showSingle .CardsItem .CardsItemSide .CardsItemInner {
    background-color: #1d1c1c !important;
}
.SiteNav-classNotification {
    background: #596969;
}
.SiteNav-newFeatureBadge {
    color: #596969 ;
}
.TestModePage-sections {
    background-color: #1b1b1b;
}
.TestModeWrittenQuestion-answerInputContainer .AutoExpandTextarea-textarea {
    background: #333;
}
.ModeControls-actions {
    background: #171717;
}
.ModeLayout.is-fullHeight  {
    background: #171717;
}
.UIKeyboardHint-text.is-white {
    background-color: #232729;
}
    .LearnModeMain {
    background: #1d1d1d;
}
.SetPageTermChunk--oftenMissed .SetPageTerm-score {
    color: #e87e6c;
}
.SetPageTermChunk--sometimesMissed .SetPageTerm-score {
    color: #ffa837;
}
html, body {
    background: #171717;
}
.AssistantCheckpointBucketedTermButton, .AssistantCheckpointBucketedTermButton-content, .SpellModeLayout-view:not(:empty).SpellModeLayout-view--withBackground {
    background: #151515;
}
.SiteHeader-logo:after {
    box-sizing: border-box;
    content: "Trigstur's Quizlet | DarkSkin | v0.3.1" !important;
    background-color: rgb(35, 35, 35);
    border-radius: 4px;
    padding: 5px;
    margin: 345px;
}
/*BEGIN EDITS*/
/*Homepage (No Login)*/
.cursor .Homepage-splash {
    background-image: None !important;
    background: #25292b !important;
}
.Homepage-sectionGrayBackground {
    background: #25292b !important;
}
.Homepage-featureCalloutWrapper {
    background-color: #363d40 !important;
}
.Homepage-createStudySet {
    background: #363d40 !important;
    border: 0.3125rem dashed #3ccfcf !important;
}

/*Latest Activity*/
.OnboardingCard {
    background: #363d40 !important;
}

/*Login Required*/
body.white .site,
body.white .page {
    background: #272b2d !important;
}
.UISpecialCharacterButton:hover:not([disabled]),
.GravityDirectionsView-title,
.UIParagraph {
    border-color: #ffffff;
    background-color: Transparent !important;
}

/*Flash Cards Embed on Terms Page*/
.SetPage-diagramWrapper,
.SetPage-embedModeWrapper {
    background: #25292b !important;
}
    
/*User Settings Dropdown*/
.UIMenuItem-inner {
    color: #fff !important;
}

/*https://quizlet.com/goodbye*/
.LogoutMobileSplash-featureRow {
    background: #272b2d !important;
    }}
